 .page-header {
  padding-top: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__begin {
  color: var(--accent-color);
}

.logo__end {
  color: #000000;
}

.page-header__logo {
  padding-bottom: 20px;
}

/* site-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 92px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav {
  display: flex;
  padding-bottom: 20px;
}

.auth-nav__item + .auth-nav__item {
  margin-left: 30px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}