.page-header {
  padding-top: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .begin {
  color: var(--accent-color);
}

.logo .end {
  color: #000000;
}

.page-header .logo {
  padding-bottom: 20px;
}

/* site-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 92px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

/* .site-nav .link.current, */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  padding-bottom: 0;
}

.site-nav .link.current::after {
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* auth-nav */
.auth-nav {
  display: flex;
  padding-bottom: 20px;
}

.auth-nav-item + .auth-nav-item {
  margin-left: 30px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);
}

.auth-nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
