.hero {
  background-color: #2f303a;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-btn,
.modal-submit-btn,
.footer-form-btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);
  background: var(--accent-color);

  transition: background 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus,
.modal-submit-btn:hover,
.modal-submit-btn:focus,
.footer-form-btn:hover,
.footer-form-btn:focus {
  background: #188ce8;
}